# Telegram bot settings
bot:
  token: 
  # Whitelist of authorized user IDs (list format)
  # Example: whitelist: [123456789, 987654321]
  whitelist: []
  welcome: # Welcome message

yandex:
  system_prompt:
  speech_api_key:  
  model: ----
  index: 
   - index1
   - index2
  key: ----

ycloud:
  api_key:
  folder_id:

s3: 
  access_key:
  secret_key:
  bucket_name:
